{% extends "layouts.html" %}

{% block page_title %}
<div class="page_title">Mortgage Analysis Home Page</div>
{% endblock page_title %}

{% block sidebar %}

    <a href={{url_for('calculations')}}>Calculations</a></p>
    <a href={{url_for('mortgage_analysis')}}>Mortgage Analysis</a></p>
    <a href={{url_for('mortgage_comparison')}}>Comparison</a></p>
    <a href={{url_for('data_analysis')}}>Data Analysis</a></p>

{% endblock sidebar %}

{% block main %}

<h1>About</h1>

<h3>Calculations</h3>
<p>Provides input to variety of calculations for loan analysis</p>
<ul>
    <li>Compounded Annual Growth Rate (CAGR) - home appreciation rate needed to acheive target price over a time period</li>

</ul>


<h3>Mortgage Analysis</h3>
<p>Enter varying loan attributes to analyze payments and profitability by year</p>

<h3>Comparison</h3>
<p>TBD - Compare profitability of different mortgages or renting vs buying</p>

<h3>Data Analysis</h3>
<p>View hsitorical trends of different economic data points - mortgage rates, home prices, etc.</p>


{% endblock main %}