{% extends "layouts.html" %}
{% block content %}
    <h3>Mortgage Analysis</h3>

    <form action="" method="post">
        <table class="data_table">
            <tr>    
                <td><label for="amount">Amount: </label></td>
                <td><input type="number" id="amount" name="amount", step="10000", value="100000"></td>
            </tr>
            <tr>
                <td><label for="rate">Rate: </label></td>
                <td><input type="number" id="rate" name="rate", step=".005", value=".03"></td>
            </tr>
            <tr>
                <td><label for="num_years">Years: </label></td>
                <td><input type="number" id="num_years" name="num_years", value="30"></td>
            </tr>
            <tr>
                <td><label for="pmt_freq">Frequency: </label></td>
                <td><input type="number" id="pmt_freq" name="pmt_freq", value="12"></td>
            </tr>
            <tr>
                <td><label for="down_pmt">Down Payment %: </label></td>
                <td><input type="number" id="down_pmt" name="down_pmt", value="0", step=".01"></td>
            </tr>
            <tr>
                <td><label for="closing_cost">Closing Cost $: </label></td>
                <td><input type="number" id="closing_cost" name="closing_cost", value="0", step="1000"></td>
            </tr>
            <tr>
                <td><label for="prop_tax_rate">Property Tax Rate: </label></td>
                <td><input type="number" id="prop_tax_rate" name="prop_tax_rate", value=".01", step=".01"></td>
            </tr>
            <tr>
                <td><label for="pmi_rate">PMI Rate: </label></td>
                <td><input type="number" id="pmi_rate" name="pmi_rate", value=".01", step=".01"></td>
            </tr>
            <tr>
                <td><label for="maint_rate">Maintenance Rate: </label></td>
                <td><input type="number" id="maint_rate" name="maint_rate", value=".01", step=".01"></td>
            </tr>
            <tr>
                <td><label for="home_value_appreciation">Appreciation Rate: </label></td>
                <td><input type="number" id="home_value_appreciation" name="home_value_appreciation", value=".03", step=".01"></td>
            </tr>
            <tr>
                <td><label for="home_sale_percent">Sale Percent: </label></td>
                <td><input type="number" id="home_sale_percent" name="home_sale_percent", value=".1", step=".01"></td>
            </tr>
            <tr>
                <td><label for="closing_cost_finance">Finance Closing Cost: </label></td>
                <td>
                    <select id="closing_cost_finance", name="closing_cost_finance">
                        <option value="No" selected>No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="amort_table_show">Show Amortization Table: </label></td>
                <td>
                    <select id="amort_table_show", name="amort_table_show">
                        <option value="No" selected>No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="amort_table_detail">Amortization Table w/ Detail: </label></td>
                <td>
                    <select id="amort_table_detail", name="amort_table_detail">
                        <option value="No" selected>No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
        </table><br>
                <input type="submit">
    </form>
    {% if data %}
        <h3>Loan Info</h3>
        <table>
            <tr>
                <td>Price: </td>
                <td>{{ data['start_val'] }}</td>
            </tr>
            <tr>
                <td>(-) Down Payment: </td>
                <td>{{ data['down_pmt'] }}</td>
            </tr>
            <tr>
                <td>(+) Closing Cost: </td>
                <td>{{ data['closing_cost'] }}</td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td>{{ data['amt'] }}</td>
            </tr>
            <tr>
                <td>Rate: </td>
                <td>{{ data['rate'] }}</td>
            </tr>
            <tr>
                <td>Years: </td>
                <td>{{ data['num_years'] }}</td>
            </tr>
            <tr>
                <td>Payment: </td>
                <td>{{ data['pmt'] }}</td>
            </tr>
        </table>

        <h3>Payment Variance Matrix</h3>
        <p> {{ data['pmt_matrix'].to_html(float_format = '{:.2f}'.format) | safe }}</p><br>

        {% if data['amort_show'] %}
            <h3>Amortization Table</h3>
            <p> {{ data['amort_table'].to_html() | safe }}</p><br>
        {% endif %}
    
    {% endif %}

{% endblock content %}